.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(12px);

  background: rgba(15, 23, 42, 0.85);

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.app-header-container {
  max-width: 1400px;

  margin: 0 auto;

  height: 80px;

  padding: 0 40px;

  display: flex;

  align-items: center;

  justify-content: space-between;
}

.app-logo {
  display: flex;

  align-items: center;

  gap: 10px;

  text-decoration: none;

  color: white;

  font-size: 28px;

  font-weight: 800;

  letter-spacing: 1px;
}

.logo-icon {
  font-size: 32px;
}

.app-nav {
  display: flex;

  align-items: center;

  gap: 20px;
}

.app-nav a {
  color: white;

  text-decoration: none;

  font-weight: 500;

  transition: 0.25s;
}

.app-nav a:hover {
  color: #38bdf8;
}

.login-btn {
  background: linear-gradient(
    135deg,
    #2563eb,
    #38bdf8
  );

  padding: 12px 24px;

  border-radius: 12px;

  font-weight: 600 !important;

  transition: 0.3s !important;
}

.login-btn:hover {
  transform: translateY(-2px);
}

.logout-btn {
  border: none;

  cursor: pointer;

  background: #ef4444;

  color: white;

  padding: 10px 20px;

  border-radius: 10px;

  font-weight: 600;
}

.logout-btn:hover {
  opacity: .9;
}