.welcome-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(circle at top left, #2563eb33, transparent 40%),
    radial-gradient(circle at bottom right, #38bdf833, transparent 40%),
    linear-gradient(135deg, #0f172a, #1e293b);
}

.welcome-card {
  text-align: center;
  color: white;

  padding: 60px;
  border-radius: 20px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);

  box-shadow: 0 25px 80px rgba(0,0,0,0.4);
}

.balls {
  font-size: 40px;
  margin-bottom: 20px;
}